<div class="card card-default">
  <div class="card-header">
    <h3 class="card-title">Xóa thông tin bản đánh giá</h3>
  </div>
  <!-- /.card-header -->
  <!-- form start -->
  <div class="card-body">
    <div class="form-group">
      <label for="class-name">Tên bản đánh giá: </label>
      <span id="class-name"> {{templateName}}</span>
    </div>
  </div>
  <!-- /.card-body -->

  <div class="card-footer">
    <button type="submit" class="btn btn-primary" (click)="deleteTemplate(id)">Xóa</button>
  </div>
</div>

