<section class="content">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Danh sách học viên lớp {{className}}</h3>
      <div class="card-tools" *ngIf="hasRoleAdmin">
        <a routerLink="add-student" class="btn btn-xs btn-primary float-lg-right">
          Thêm học viên
        </a>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-bordered" id="table-student">
        <thead>
        <tr>
          <th style="width: 10px">#</th>
          <th>Mã học viên</th>
          <th>Họ tên học viên</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let student of studentList; index as i">
          <td>{{i + 1}}</td>
          <td>{{student.studentId}}</td>
          <td>
            <a [routerLink]="['info-student', student.id]">{{student.name}}</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
