<section class="content">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Danh sách chương trình</h3>
      <div class="card-tools">
        <a routerLink="create" *ngIf="hasRoleAdmin" class="btn btn-xs btn-primary float-lg-right">
          Tạo mới
        </a>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-bordered" id="table-program">
        <thead>
        <tr>
          <th style="width: 10px">#</th>
          <th>Tên chương trình học</th>
          <th>Mô tả</th>
          <th style="width: 160px" *ngIf="hasRoleAdmin"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let program of listProgram; index as i">
          <td>{{i + 1}}</td>
          <td>
            <a [routerLink]="['info',program.id]">{{program.name}}</a>
          </td>
          <td>{{program.description}}</td>
          <td *ngIf="hasRoleAdmin">
            <div class="row">
              <div class="col-6">
                <a [routerLink]="['edit',program.id]" class="btn btn-block btn-primary" style="color: white">
                  <i class="fa fa-edit"></i>
                </a>
              </div>
              <div class="col-6">
                <a [routerLink]="['delete',program.id]" class="btn btn-block btn-danger" style="color: white">
                  <i class="fa fa-remove"></i>
                </a>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
