<section class="content">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Danh sách học viên</h3>
      <div class="card-tools">
        <a routerLink="create" class="btn btn-xs btn-primary float-lg-right">
          Tạo mới
        </a>
      </div>
    </div>
    <div class="card-body">
      <table id="table-student" class="table table-bordered table-hover">
        <thead>
        <tr>
          <th style="width: 10px">#</th>
          <th>Mã học viên</th>
          <th>Họ tên học viên</th>
          <th style="width: 160px"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let student of studentList; index as i">
          <td>{{i + 1}}</td>
          <td>{{student.studentId}}</td>
          <td>{{student.name}}</td>
          <td>
            <div class="row">
              <div class="col-6">
                <a [routerLink]="['edit',student.id]" class="btn btn-block btn-primary" style="color: white">
                  <i class="fa fa-edit"></i>
                </a>
              </div>
              <div class="col-6">
                <a [routerLink]="['delete',student.id]" class="btn btn-block btn-danger" style="color: white">
                  <i class="fa fa-remove"></i>
                </a>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <th>#</th>
          <th>Mã học viên</th>
          <th>Họ và tên</th>
          <th></th>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</section>
