<section class="content">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title" *ngIf="hasRoleAdmin">Danh sách các lớp</h3>
      <h3 class="card-title" *ngIf="!hasRoleAdmin">Danh sách các lớp đang phụ trách</h3>
      <div class="card-tools">
        <a routerLink="create" class="btn btn-xs btn-primary float-lg-right">
          Tạo mới
        </a>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th style="width: 10px">#</th>
          <th>Tên lớp</th>
          <th>Chương trình học</th>
          <th style="width: 80px">Sĩ số</th>
          <th style="width: 160px" *ngIf="hasRoleAdmin"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let classes of listClass; index as i">
          <td>{{i + 1}}</td>
          <td>
            <a [routerLink]="['info', classes.id]">{{classes.name}}</a>
          </td>
          <td></td>
          <td>{{classes.students.length}}</td>
          <td *ngIf="hasRoleAdmin">
            <div class="row">
              <div class="col-6">
                <a [routerLink]="['edit',classes.id]" class="btn btn-block btn-primary" style="color: white">
                  <i class="fa fa-edit"></i>
                </a>
              </div>
              <div class="col-6">
                <a [routerLink]="['delete',classes.id]" class="btn btn-block btn-danger" style="color: white">
                  <i class="fa fa-remove"></i>
                </a>
              </div>
            </div>
          </td>
        </tr>
        <tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer clearfix">
      <ul class="pagination pagination-sm m-0 float-right">
        <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
      </ul>
    </div>
  </div>
</section>
