<section class="content">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title" *ngIf="hasRoleAdmin">Danh sách các lớp</h3>
      <h3 class="card-title" *ngIf="!hasRoleAdmin">Danh sách các lớp đang phụ trách</h3>
      <div class="card-tools" *ngIf="hasRoleAdmin">
        <a routerLink="create" class="btn btn-xs btn-primary float-lg-right">
          Tạo mới
        </a>
      </div>
    </div>
    <div class="card-body">
      <table id="table-class" class="display table table-bordered table-hover">
        <thead>
        <tr>
          <th style="width: 10px">#</th>
          <th>Tên lớp</th>
          <th>Chương trình học</th>
          <th style="width: 80px">Sĩ số</th>
          <th style="width: 160px" *ngIf="hasRoleAdmin"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let classes of listClass; index as i">
          <td>{{i + 1}}</td>
          <td>
            <a [routerLink]="['info', classes.id]">{{classes.name}}</a>
          </td>
          <td><span *ngIf="classes.programs != null">{{classes.programs.name}}</span></td>
          <td *ngIf="classes.students !=null">{{classes.students.length}}</td>
          <td *ngIf="hasRoleAdmin">
            <div class="row">
              <div class="col-6">
                <a [routerLink]="['edit',classes.id]" class="btn btn-block btn-primary" style="color: white">
                  <i class="fa fa-edit"></i>
                </a>
              </div>
              <div class="col-6">
                <a [routerLink]="['delete',classes.id]" class="btn btn-block btn-danger" style="color: white">
                  <i class="fa fa-remove"></i>
                </a>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <th>#</th>
          <th>Tên lớp</th>
          <th>Chương trình học</th>
          <th>Sĩ số</th>
          <th *ngIf="hasRoleAdmin"></th>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</section>
