<div class="card card-default">
  <div class="card-header">
    <h3 class="card-title">Tạo lớp học mới</h3>
  </div>
  <!-- /.card-header -->
  <!-- form start -->
  <form [formGroup]="classForm" (ngSubmit)="createClass()" id="class-form">
    <div class="card-body">
      <div class="form-group">
        <label for="class-name">Tên lớp</label>
        <input type="text" formControlName="name" name="name" class="form-control" id="class-name" placeholder="tên lớp">
      </div>
      <div class="form-group">
        <label for="program">Chương trình học:</label>
        <select class="custom-select custom-select-sm" id="program" name="program" formControlName="program">
          <option [ngValue]="null" disabled>Chọn danh mục câu hỏi</option>
          <option *ngFor="let program of programList" [value]="program.id">{{program.name}}</option>
        </select>
      </div>
    </div>
    <!-- /.card-body -->

    <div class="card-footer">
      <button type="submit" class="btn btn-primary">Tạo mới</button>
    </div>
  </form>
</div>
