<div class="card card-default">
  <div class="card-header">
    <h3 class="card-title">Cập nhật thông tin bản đánh giá</h3>
  </div>
  <!-- /.card-header -->
  <!-- form start -->
  <form [formGroup]="templateForm" (ngSubmit)="editTemplate(id)" id="template-form">
    <div class="card-body">
      <div class="form-group">
        <label for="template-name">Tên bản đánh giá</label>
        <input type="text" formControlName="name" name="name" class="form-control" id="template-name"
               placeholder="tên bản đánh giá" [value]="templateName">
      </div>
      <div class="form-group">
        <label for="programs">Chương trình học: </label>
        <select class="custom-select" id="programs" name="programs" formControlName="programs">
          <option [ngValue]="null" disabled>Chọn chương trình học</option>
          <option *ngFor="let program of listProgram" [value]="program.id"
                  [selected]="program.id === templateProgram.id">{{program.name}}
          </option>
        </select>
      </div>
    </div>
    <!-- /.card-body -->

    <div class="card-footer">
      <button type="submit" class="btn btn-primary">Tạo mới</button>
    </div>
  </form>
</div>
