<section class="content">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Danh sách các Coach</h3>
      <div class="card-tools" *ngIf="!hasRoleAdmin">
        <a routerLink="create" class="btn btn-xs btn-primary float-lg-right">
          Tạo mới
        </a>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-bordered" id="table-coach">
        <thead>
        <tr>
          <th style="width: 10px">#</th>
          <th>Mã giảng viên</th>
          <th>Họ tên giảng viên</th>
          <th>Email</th>
          <th>Số điện thoại</th>
          <th>Địa chỉ</th>
          <th>Ghi chú</th>
          <th style="width: 160px" *ngIf="!hasRoleAdmin"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let coach of coachList; index as i">
          <td>{{i + 1}}</td>
          <td>{{coach.coachId}}</td>
          <td>{{coach.name}}</td>
          <td>{{coach.email}}</td>
          <td>{{coach.phoneNumber}}</td>
          <td>{{coach.address}}</td>
          <td>{{coach.notice}}</td>
          <td *ngIf="!hasRoleAdmin">
            <div class="row">
              <div class="col-6">
                <a [routerLink]="['edit',coach.id]" class="btn btn-block btn-primary" style="color: white">
                  <i class="fa fa-edit"></i>
                </a>
              </div>
              <div class="col-6">
                <a [routerLink]="['delete',coach.id]" class="btn btn-block btn-danger" style="color: white">
                  <i class="fa fa-remove"></i>
                </a>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
