<div class="card card-default">
  <div class="card-header">
    <h3 class="card-title">Tạo outcome mới</h3>
  </div>
  <!-- /.card-header -->
  <!-- form start -->
  <form [formGroup]="copyFromWordForm" (ngSubmit)="createManyOutcome()" id="outcome-form">
    <div class="card-body">
      <div class="form-group">
        <label for="data">Nội dung</label>
        <textarea class="form-control" rows="20" placeholder="Paste ..." id="data" name="data"
                  formControlName="data"></textarea>
      </div>
    </div>
    <!-- /.card-body -->

    <div class="card-footer">
      <button type="submit" class="btn btn-primary">Tạo mới</button>
    </div>
  </form>
</div>
