<div class="card card-default">
  <div class="card-header">
    <h3 class="card-title">Thông tin học viên {{studentName}}</h3>
  </div>
  <!-- /.card-header -->
  <!-- form start -->
  <form [formGroup]="studentForm" (ngSubmit)="changeStudentClass(id)" id="student-form">
    <div class="card-body">
      <div class="form-group">
        <label for="class-student-id">Mã học viên: </label>
        <span id="class-student-id">{{idStudent}}</span>
      </div>
      <div class="form-group">
        <label for="class-student-name">Họ tên học viên: </label>
        <span id="class-student-name">{{studentName}}</span>
      </div>
      <div class="form-group" *ngIf="!buttonChangeClicked">
        <label for="classes1">Lớp học: </label>
        <span id="classes1" *ngIf="studentClass!=null">{{studentClass.name}}</span>
        <button type="button" class="btn btn-primary btn-sm ml-3" (click)="changeButtonStatus()">Đổi lớp</button>
      </div>
      <div class="form-group" *ngIf="buttonChangeClicked">
        <label for="classes">Lớp học: </label>
        <select class="custom-select" id="classes" name="classes" formControlName="classes">
          <option [ngValue]="null" disabled>Chọn lớp học</option>
          <option *ngFor="let classes of listClass" [value]="classes.id"
                  [selected]="classes.id === studentClassId">{{classes.name}}</option>
        </select>
      </div>
    </div>
    <!-- /.card-body -->

    <div class="card-footer">
      <button type="submit" class="btn btn-primary">Xác nhận</button>
    </div>
  </form>
</div>
