<div class="card card-default">
  <div class="card-header">
    <h3 class="card-title">Tạo lớp học mới</h3>
  </div>
  <!-- /.card-header -->
  <!-- form start -->
  <form [formGroup]="studentForm" (ngSubmit)="createStudent()" id="student-form">
    <div class="card-body">
      <div class="form-group">
        <label for="student-id">Mã học viên</label>
        <input type="text" formControlName="studentId" name="studentId" class="form-control" id="student-id"
               placeholder="mã học viên">
      </div>
      <div class="form-group">
        <label for="student-name">Tên học viên</label>
        <input type="text" formControlName="name" name="name" class="form-control" id="student-name"
               placeholder="tên học viên">
      </div>
    </div>
    <!-- /.card-body -->

    <div class="card-footer">
      <button type="submit" class="btn btn-primary">Tạo mới</button>
    </div>
  </form>
</div>
